body, html {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #424242;
}

* {
    box-sizing: border-box;
    margin-bottom: 10px;
}

header {
    text-align: center;
    color: #424242;
    font-weight: 800;
    padding: 5px;
}

#description {
    font-weight: 500;
    font-size: 15px;
    font-style: italic;
}

#survey-form {
    padding: 5px;
}

main p {
  font-weight: 600;
}
    
#name, #email, #number {
    padding: 5px;
    border: none;
    background-color: #D6D7E1;
    border-bottom: 1px solid #b3aeae;
    border-radius: 8px;
    height: 30px;
}

#number {
  width: 100px;
}

#comments {
  background-color: #D6D7E1;
  border: none;
  border-radius: 10px;
}

button {
  width: 250px;
  height: 30px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  outline: none;
  font-style: italic;
  background-color: #9495A3;
  color: #FFFFFF;
  margin: 5px auto;
}

@media (min-width: 860px) {
    .container {
        width: 800px;
        border: 1px solid red;
        margin: 50px auto;
    }
}





